@font-face {
  font-family: 'simpsons';
  src: url(Simpsonfont.ttf);
}
.x {
	position: absolute;
}

.x.x1 {
	top: 50%;
}

.x.x2 {
	top: 20%;
}

.x.x3 {
	top: 15%;
}

.x.x4 {
	top: 30%;
}

.x.x5 {
	top: 60%;
}

header {
	text-align: center;
	color: white;
	max-width: 600px;
	margin: 20px auto;
}

h1 {
	color: white;
    font-size: 26px;
    text-align: center;    
    line-height: 40px;
    letter-spacing: 1px;
}

h2 {
	color: #fcea36;
	text-align: center;
}

header p {
	font-size: 14px;
	margin-bottom: 10px;
}

.simpsonsFont {
	font-family: 'simpsons';
}

#app {
	max-width: 800px;
	margin: auto;
}

article {
	margin-bottom: 30px;
	display: flex;
	color: #fff;
	padding: 30px;
    background: rgba(0,0,0,0.3);
}

article .img {
	width: 25%;
}

article .info {
	width: 75%;
}

article h4 {
	color: #fcea36;
	font-size: 16px;
	margin: 0;
}

small {
	font-size: 12px;
	color: #ccc;
}

